<div class="wrapper home-page">
  <div class="page-header first-section">
    <div class="banner">
      <div class="nav-link">
        <a href="#how">How it works</a>
        <a href="#team">Team</a>
      </div>
      <h1>Make your house smarter</h1>
      <p>Create your own safezone. Secure your home by making it smarter. Use the future to prohibit damage from happening.</p>
    </div>
  </div>

  <div class= "container text-center padded">
    <a name="how"></a>
    <h2 class= "secondtitle">What is SWMS</h2>
    <div class="row">
      <p class="col-md-8 col-md-offset-2 seconddesc">SWMS makes your home a better place - no more hidden surprises, when you come back home. From time to time you need to check on your house, if everything is in order, but some things are invisible to your sight. Not with SWMS.
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-user-plus fa-3x lp-icon" aria-hidden="true"></i>
        <p>Secure your home</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-search fa-3x lp-icon" aria-hidden="true"></i>
        <p>Get a warning</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-address-card fa-3x lp-icon" aria-hidden="true"></i>
        <p>Smarter</p>

      </div>
    </div>
  </div>


  <div class="banner slogan layer">
    <h2>Get started!</h2>
  </div>



  <div class= "container text-center padded">
    <a name="team"></a>


    <h2 class= "secondtitle">Creator</h2>
    <div class="row">
      <p class="col-md-8 col-md-offset-2 seconddesc">
        SWMS is a project created by Alexander Pieczka. It is a problem solving sprint as project for CODE.
      </p>
    </div>





  <div class="footer">
    <div class="footer-links">
      <a href="#">About</a>

      <a href="#"><i class="fa fa-github"></i></a>
    </div>
    <div class="footer-copyright">
      2018 SWMS made this site with <i class="fa fa-heart"></i>
    </div>
  </div>
</div>
<!-- <div class="footer">
  <div class="footer-links">
    <a href="#">About</a>
    <a href="#">Team</a>
    <a href="#">Help</a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
-->
